<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Architecture Supported Audit Processor
   
    Copyright 2020 Carnegie Mellon University.
   
    NO WARRANTY. THIS CARNEGIE MELLON UNIVERSITY AND SOFTWARE ENGINEERING INSTITUTE
    MATERIAL IS FURNISHED ON AN "AS-IS" BASIS. CARNEGIE MELLON UNIVERSITY MAKES NO
    WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED, AS TO ANY MATTER INCLUDING,
    BUT NOT LIMITED TO, WARRANTY OF FITNESS FOR PURPOSE OR MERCHANTABILITY,
    EXCLUSIVITY, OR RESULTS OBTAINED FROM USE OF THE MATERIAL. CARNEGIE MELLON
    UNIVERSITY DOES NOT MAKE ANY WARRANTY OF ANY KIND WITH RESPECT TO FREEDOM FROM
    PATENT, TRADEMARK, OR COPYRIGHT INFRINGEMENT.
   
    Released under an Eclipse Public License – v2.0-style license, please see
    license.txt or contact permission@sei.cmu.edu for full terms.
   
    [DISTRIBUTION STATEMENT A] This material has been approved for public release
    and unlimited distribution.  Please see Copyright notice for non-US Government
    use and distribution.
   
    This Software includes and/or makes use of the following Third-Party Software
    subject to its own license:
   
    1. Open Source AADL Tool Environment (https://osate.org) Copyright 2004-2020
    CMU-SEI.
   
    DM20-1063
 -->

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated safe2 -->
      <factory
            uri="http://www.example.org/safe2"
            class="org.osate.asap.model.safe2.provider.Safe2ItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

</plugin>
